@use "../util/" as util;

* {
  box-sizing: border-box;
}

h1.bold,
h2.bold,
h3.bold {
  font-weight: 700;
}

h1.heading {
  font-size: util.$largeTitle;
}

h2.heading {
  font-size: util.$mediumTitle;
}

h3.heading {
  font-size: util.$smallTitle;
}

hr {
  border: none;
  border-bottom: 1px solid util.$primaryGray;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  // & #form__file {
  //   display: none;
  // }
}

textarea {
  resize: none;
  border-color: util.$primaryGray;
  border-radius: 0.5rem;
  padding: 6px;
}

button,
input[type="button"],
input[type="submit"] {
  border: none;
  border-radius: 50px;
  background: util.$primaryBlue;
  color: white;
  padding: 4px 18px;
  cursor: pointer;
}